.footer {
    background: linear-gradient(to right, #8b0000, #000000);
    padding: 20px 0;
    color: #fff;
    text-align: center;
    margin-top: 2rem;
}

.footer p {
    margin: 0;
    font-size: 0.9rem;
}
